.cities {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  @media (max-width: $mobile-width) {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 288px;
    margin: 0 auto;
  }
}

.cities__list {
  @include list-reset;
  margin-right: 53px;

  @media (max-width: $tablet-width) {
    margin-right: 49px;
  }

  &:last-child {
    margin-right: 0;

    @media (max-width: $mobile-width) {
      width: 100%;
    }
  }

  @media (max-width: $mobile-width) {
    margin-right: 0;
    width: 50%;
    text-align: center;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.cities__item {
  white-space: nowrap;
  opacity: 50%;
  line-height: 17px;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
