.country {
  @media (max-width: $tablet-width) {
    text-align: center;
  }
}

.country__title {
  font-size: 55px;
  line-height: 90px;
  font-weight: 600;
  letter-spacing: 1.35px;

  position: relative;

  margin-top: 11px;
  margin-bottom: 48px;

  @media (max-width: $tablet-width) {
    font-size: 30px;
    line-height: 45px;

    margin-bottom: 22px;
  }

  @media (max-width: $mobile-width) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
  }
}

.country__title::after {
  content: "";
  position: absolute;
  height: 2.92px;
  width: 175px;
  bottom: -17px;
  left: 0;

  background-color: $orange;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.country__description {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.57px;
  opacity: 0.7;

  margin: 0;
  padding-bottom: 48px;

  @media (max-width: $tablet-width) {
    padding: 0 23px 18px;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px 18px;
  }
}

.country__button {
  padding: 30px 0;
  width: 250px;

  @media (max-width: $tablet-width) {
    padding: 17.5px 0;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    margin-bottom: 50px;
  }
}
