.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  max-width: 1198px;
  margin: 0 auto;
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 75px;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0 21px 50px;
    margin-top: 80px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    padding: 0 13px 25px 11px;
    margin-top: 70px;
  }
}

.footer__item {
  border-right: $gray solid 1px;

  &:last-child {
    border-right: none;

    @media (max-width: $tablet-width) {
      width: 100%;
      border-top: $gray solid 1px;

      margin-top: 16px;
    }

    @media (max-width: $mobile-width) {
      border: none;
      margin-top: 0;
    }
  }

  @media (max-width: $tablet-width) {
    &:nth-child(2) {
      border-right: none;
    }
  }

  @media (max-width: $mobile-width) {
    border-right: 0;
    border-bottom: $gray solid 1px;
  }
}

.footer__item--cities {
  padding-right: 37px;

  @media (max-width: $tablet-width) {
    padding-right: 49px;
    margin-left: auto;
  }

  @media (max-width: $mobile-width) {
    padding-right: 0;
    padding-bottom: 8px;
    margin: 0;
  }
}

.footer__item--contacts {
  padding-left: 90px;
  padding-right: 45px;

  @media (max-width: $tablet-width) {
    padding-left: 52px;
    padding-right: 72px;

    margin-right: auto;
  }

  @media (max-width: $mobile-width) {
    padding: 30px 0 0;
    margin-right: 0;
  }
}

.footer__item--corporate-trips {
  padding-left: 49px;

  @media (max-width: $tablet-width) {
    text-align: center;
    padding-left: 0;

    & .footer__title {
      padding-top: 30px;
      padding-bottom: 21px;
    }
  }
}

.footer__title {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 1px;

  margin: 0;
  padding-bottom: 23px;

  @media (max-width: $tablet-width) {
    margin-top: 0;
  }

  @media (max-width: $mobile-width) {
    text-align: center;
    letter-spacing: 1.05px;
  }
}

.footer__text {
  margin: 0;
  opacity: 0.5;
  line-height: 24px;
  letter-spacing: 0.85px;
}
