
.form__title {
  font-size: 25px;
  line-height: 43px;
  font-weight: 600;

  margin: 0;
  padding-bottom: 50px;
}

.form__button {
  width: 176px;
  padding: 17.5px 0;

  @media (max-width: $tablet-width) {
    width: 250px;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
  }
}

.form__button--questions {
  margin-top: 25px;

  @media (max-width: $tablet-width) {
    margin-top: 20px;
  }
}

.form__button--popup {
  margin-top: 20px;
}
