.questions {
  max-width: 1220px;
  margin: 0 auto;
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 160px;
  box-sizing: border-box;

  position: relative;

  @media (max-width: $tablet-width) {
    padding: 70px 0 76px;

    background-image: url("../img/form-bg-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 0;

    &.webp {
      background-image: url("../img/form-bg-tablet@1x.webp");
    }

    @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
      background-image: url("../img/form-bg-tablet@2x.jpg");

      &.webp {
        background-image: url("../img/form-bg-tablet@2x.webp");
      }
    }
  }

  @media (max-width: $mobile-width) {
    background-image: none;
    padding: 0;
  }
}

.questions__img-wrapper {
  max-width: 844px;
  padding-left: 12px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.questions__img {
  width: 100%;
}

.questions__inner {
  position: absolute;
  max-width: 656px;

  box-sizing: border-box;

  top: calc(50% - 165px);
  left: 551px;

  background-color: $white;

  padding: 52px 49px 46px;
  text-align: center;

  box-shadow: 0 0 30px rgba(41, 54, 66, 0.1);

  @media (max-width: 1200px) {
    left: 420px;
  }

  @media (max-width: 1100px) {
    left: 360px;
  }

  @media (max-width: $tablet-width) {
    position: static;
    margin: 0 auto;

    padding-bottom: 50px;
  }

  @media (max-width: $mobile-width) {
    background-color: $white-dark;
    box-shadow: none;
    max-width: 100%;
    padding: 50px 16px;
  }
}

.questions__title {
  font-size: 25px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 1px;

  margin: 0;
}

.questions__text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.8px;

  padding: 15px 0 21px;
  margin: 0;

  @media (max-width: $tablet-width) {
    padding: 10px 0 22px;
  }

  @media (max-width: $mobile-width) {
    padding: 19px 0;
  }
}

.questions__fieldset {
  margin: 0;
  margin-bottom: 24px;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
  }
}
