.review {
  position: relative;

  @media (max-width: $tablet-width) {
    min-height: 415px;
    background-position: center;
    background-size: cover;

    &--greece {
      background-image: url("../img/reviews-greece-tablet@1x.jpg");

      &.webp {
        background-image: url("../img/reviews-greece-tablet@1x.webp");
      }

      @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
        background-image: url("../img/reviews-greece-tablet@2x.jpg");

        &.webp {
          background-image: url("../img/reviews-greece-tablet@2x.webp");
        }
      }
    }

    &--albania {
      background-image: url("../img/reviews-albania-tablet@1x.jpg");

      &.webp {
        background-image: url("../img/reviews-albania-tablet@1x.webp");
      }

      @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
        background-image: url("../img/reviews-albania-tablet@2x.jpg");

        &.webp {
          background-image: url("../img/reviews-albania-tablet@2x.webp");
        }
      }
    }

    &--macedonia {
      background-image: url("../img/reviews-macedonia-tablet@1x.jpg");

      &.webp {
        background-image: url("../img/reviews-macedonia-tablet@1x.webp");
      }

      @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
        background-image: url("../img/reviews-macedonia-tablet@2x.jpg");

        &.webp {
          background-image: url("../img/reviews-macedonia-tablet@2x.webp");
        }
      }
    }

    &--montenegro {
      background-image: url("../img/reviews-montenegro-tablet@1x.jpg");

      &.webp {
        background-image: url("../img/reviews-montenegro-tablet@1x.webp");
      }

      @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
        background-image: url("../img/reviews-montenegro-tablet@2x.jpg");

        &.webp {
          background-image: url("../img/reviews-montenegro-tablet@2x.webp");
        }
      }
    }

    &--croatia {
      background-image: url("../img/reviews-croatia-tablet@1x.jpg");

      &.webp {
        background-image: url("../img/reviews-croatia-tablet@1x.webp");
      }

      @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
        background-image: url("../img/reviews-croatia-tablet@2x.jpg");

        &.webp {
          background-image: url("../img/reviews-croatia-tablet@2x.webp");
        }
      }
    }
  }

  @media (max-width: $mobile-width) {
    &--greece {
      background-image: url("../img/reviews-greece-mobile@1x.jpg");

      &.webp {
        background-image: url("../img/reviews-greece-mobile@1x.webp");
      }

      @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
        background-image: url("../img/reviews-greece-mobile@2x.jpg");

        &.webp {
          background-image: url("../img/reviews-greece-mobile@2x.webp");
        }
      }
    }

    &--albania {
      background-image: url("../img/reviews-albania-mobile@1x.jpg");

      &.webp {
        background-image: url("../img/reviews-albania-mobile@1x.webp");
      }

      @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
        background-image: url("../img/reviews-albania-mobile@2x.jpg");

        &.webp {
          background-image: url("../img/reviews-albania-mobile@2x.webp");
        }
      }
    }

    &--macedonia {
      background-image: url("../img/reviews-macedonia-mobile@1x.jpg");

      &.webp {
        background-image: url("../img/reviews-macedonia-mobile@1x.webp");
      }

      @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
        background-image: url("../img/reviews-macedonia-mobile@2x.jpg");

        &.webp {
          background-image: url("../img/reviews-macedonia-mobile@2x.webp");
        }
      }
    }

    &--montenegro {
      background-image: url("../img/reviews-montenegro-mobile@1x.jpg");

      &.webp {
        background-image: url("../img/reviews-montenegro-mobile@1x.webp");
      }

      @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
        background-image: url("../img/reviews-montenegro-mobile@2x.jpg");

        &.webp {
          background-image: url("../img/reviews-montenegro-mobile@2x.webp");
        }
      }
    }

    &--croatia {
      background-image: url("../img/reviews-croatia-mobile@1x.jpg");

      &.webp {
        background-image: url("../img/reviews-croatia-mobile@1x.webp");
      }

      @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
        background-image: url("../img/reviews-croatia-mobile@2x.jpg");

        &.webp {
          background-image: url("../img/reviews-croatia-mobile@2x.webp");
        }
      }
    }
  }
}

.review__content {
  max-width: 382px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);

  background-color: $white;

  padding: 30px;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    transform: none;
    top: 80px;
    min-height: 367px;
    right: calc(50% - 191px);
  }

  @media (max-width: $mobile-width) {
    top: 50px;
    max-width: 268px;
    min-height: 431px;
    right: calc(50% - 134px);

    text-align: center;

    padding: 33px 25px 34px;
  }
}

.review__img {
  max-width: 430px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.review__title {
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 2.1px;
  font-weight: 500;

  position: relative;

  margin: 0;
  padding-bottom: 32px;

  @media (max-width: $tablet-width) {
    font-size: 30px;
  }

  @media (max-width: $mobile-width) {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 0;
  }
}

.review__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 19px;

  background-color: $orange;

  width: 68px;
  height: 0.73px;

  @media (max-width: $mobile-width) {
    left: calc(50% - 34px);
    bottom: -12px;
  }
}

.review__text {
  letter-spacing: 0.51px;
  padding-top: 0;
  padding-bottom: 40px;
  margin: 0;
  opacity: 0.7;

  font-size: 14px;
  line-height: 28px;

  @media (max-width: $mobile-width) {
    padding-top: 31px;
    padding-bottom: 68px;
    letter-spacing: 0.3px;
  }
}

.review__author {
  margin: 0;
  padding-left: 53px;
  padding-bottom: 14px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.77px;

  position: relative;

  @media (max-width: $mobile-width) {
    padding-left: 0;
  }
}

.review__author::before {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 27px);
  width: 37.19px;
  height: 38px;
  border-radius: 50%;
  background-size: contain;
  background-position: center;

  @media (max-width: $mobile-width) {
    top: -50px;
    left: calc(50% - 18px);
  }
}

.review__author--greece::before {
  background-image: url("../img/reviews-photo-5@1x.jpg");

  &.webp {
    background-image: url("../img/reviews-photo-5@1x.webp");
  }

  @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
    background-image: url("../img/reviews-photo-5@2x.jpg");

    &.webp {
      background-image: url("../img/reviews-photo-5@2x.webp");
    }
  }
}


.review__author--albania::before {
  background-image: url("../img/reviews-photo-1@1x.jpg");

  &.webp {
    background-image: url("../img/reviews-photo-1@1x.webp");
  }

  @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
    background-image: url("../img/reviews-photo-1@2x.jpg");

    &.webp {
      background-image: url("../img/reviews-photo-1@2x.webp");
    }
  }
}

.review__author--macedonia::before {
  background-image: url("../img/reviews-photo-3@1x.jpg");

  &.webp {
    background-image: url("../img/reviews-photo-3@1x.webp");
  }

  @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
    background-image: url("../img/reviews-photo-3@2x.jpg");

    &.webp {
      background-image: url("../img/reviews-photo-3@2x.webp");
    }
  }
}

.review__author--montenegro::before {
  background-image: url("../img/reviews-photo-2@1x.jpg");

  &.webp {
    background-image: url("../img/reviews-photo-2@1x.webp");
  }

  @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
    background-image: url("../img/reviews-photo-2@2x.jpg");

    &.webp {
      background-image: url("../img/reviews-photo-2@2x.webp");
    }
  }
}

.review__author--croatia::before {
  background-image: url("../img/reviews-photo-4@1x.jpg");

  &.webp {
    background-image: url("../img/reviews-photo-4@1x.webp");
  }

  @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
    background-image: url("../img/reviews-photo-4@2x.jpg");

    &.webp {
      background-image: url("../img/reviews-photo-4@2x.webp");
    }
  }
}
