.site-nav {
  @media (max-width: $tablet-width) {
    position: relative;
  }
}

.site-nav::after {
  @media (max-width: $tablet-width) {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    z-index: -99;
    width: 72px;
    height: 50px;
    background-color: $orange;
  }

  @media (max-width: $mobile-width) {
    width: 50px;
    height: 50px;
  }
}

.site-nav--opened.site-nav::after,
.site-nav--nojs.site-nav::after {
  display: none;
}

.site-nav__list {
  @include list-reset;

  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 33px 0;

  @media (max-width: $tablet-width) {
    display: block;
    padding-top: 97.5px;
  }
}

.site-nav__item {
  padding-right: 38px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;

  &:last-child {
    padding-right: 11px;
  }

  @media (max-width: $tablet-width) {
    padding: 17px 0 17px 16px;
    background-color: $white-dark;

    margin-bottom: 30px;
    position: relative;
  }
}

.site-nav__item::after {
  @media (max-width: $tablet-width) {
    content: "";
    position: absolute;
    top: calc(50% - 7px);
    right: 24.5px;

    width: 10px;
    height: 14px;

    background-image: url("../img/icon-right.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.site-nav__item--phone {
  padding-left: 54px;
  position: relative;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.3px;

  @media (max-width: $tablet-width) {
    display: none;
  }

  &:hover {
    color: $orange;

    & .site-nav__icon {
      stroke: $orange;
    }
  }
}

.site-nav__icon {
  position: absolute;
  fill: $white;
  stroke: $black;
  left: 20px;
  bottom: 3px;
}

.site-nav__phone {
  font-size: 18px;
  line-height: 32px;
  text-decoration: underline;
  color: $black-dark;

  margin: 0;

  &:hover {
    color: $orange;
  }
}

.site-nav__link {
  color: $black-dark;
  text-decoration: none;
  font-weight: 500;

  @media (max-width: $tablet-width) {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    width: 100%;
    display: inline-block;
  }

  &:hover {
    color: $orange;
  }
}

.site-nav__toggle {
  display: none;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: -40px;
    right: 3px;

    margin-right: 18px;

    display: block;
    width: 30px;
    height: 30px;
    background-color: $orange;
    cursor: pointer;
    border: none;
  }

  @media (max-width: $mobile-width) {
    right: -8px;
  }
}

.site-nav--closed .site-nav__toggle::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 3px;

  width: 22.5px;
  height: 1px;

  background-color: $white;
  box-shadow: 0 7px 0 0 $white, 0 14px 0 0 $white;

  @media (max-width: $mobile-width) {
    left: 3px;
  }
}

.site-nav--closed .site-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}

.site-nav--opened .site-nav__toggle {
  background-color: $white;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 15px;
    right: 5px;
    width: 22px;
    height: 1px;
    background-color: rgba(20, 21, 23, 0.2);
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

@media (max-width: $tablet-width) {
  .site-nav--closed .site-nav__list {
    display: none;
  }
}

.site-nav--nojs .site-nav__toggle {
  display: none;
}
