.tabs-block__content {
  margin-top: 78px;

  @media (max-width: $tablet-width) {
    margin-top: 22px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 13px;
  }
}

.tabs-block__nav {
  @media (max-width: $tablet-width) {
    margin-left: 38px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 15px;
  }
}
