.tabs-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 899px;

  border-bottom: 1px rgba(44, 46, 63, 0.3) solid;

  @media (max-width: $tablet-width) {
    flex-wrap: nowrap;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.tabs-nav__item {
  opacity: 0.3;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.3px;
  font-weight: 500;
  padding-bottom: 15px;
  padding-top: 8px;
  margin-right: 99px;
  flex: 1;

  cursor: pointer;

  &:hover {
    color: $orange;
    opacity: 0.7;
  }

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    padding-top: 8px;
  }
}

.tabs-nav__item.tabs-nav__item--is-active {
  color: $orange;
  opacity: 1;
}
