.tours {
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 202px;
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    padding: 0 81px;
    margin-top: 80px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 104px;
    padding: 0 16px;
  }
}

.tours__title {
  font-size: 55px;
  line-height: 80px;
  letter-spacing: 2.75px;
  font-weight: 600;

  width: 358px;

  position: relative;
  margin-top: 0;
  margin-bottom: 64px;

  @media (max-width: $tablet-width) {
    text-align: center;
    width: auto;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 1.7px;

    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    font-size: 24px;
    margin-bottom: 17px;
  }
}

.tours__title::after {
  content: "";
  position: absolute;
  bottom: -33px;
  left: 0;

  width: 228.51px;
  height: 4px;

  background-color: $orange;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.tours__description {
  margin: 0;
  width: 328px;
  padding-bottom: 56px;
  opacity: 0.7;
  letter-spacing: 1.65px;

  @media (max-width: $tablet-width) {
    width: auto;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.7px;
    text-align: center;
    padding: 0 124px 40px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 0 18px;
    letter-spacing: 0.6px;
  }
}

.tours__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    justify-content: center;
  }
}

.tours__img {
  max-width: 100%;
  position: relative;

  @media (max-width: $tablet-width) {
    min-height: 425px;
    width: 100%;
  }
}

.tours__item {
  width: calc(33% - 30px);
  position: relative;

  &:nth-child(-2n+3) {
    margin-bottom: 92px;

    @media (max-width: $tablet-width) {
      margin-bottom: 10px;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 26px;
    }
  }

  &:last-child {
    margin-right: auto;
    margin-left: 60px;

    @media (max-width: $tablet-width) {
      margin: 0 auto;
    }

    @media (max-width: $mobile-width) {
      margin: 0 0 24px;
    }
  }

  &:nth-child(4) {
    margin-left: auto;
    margin-right: 60px;

    @media (max-width: $tablet-width) {
      margin: 0 0 20px;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 26px;
    }
  }

  @media (max-width: $tablet-width) {
    width: calc(50% - 15px);
    margin-bottom: 10px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 25px;

    &:hover {
      filter: none;
    }
  }

  &:hover {
    filter: brightness(60%);
  }
}

.tours__link {
  position: relative;
  display: block;

  &:hover {
    & .tours__img {
      filter: brightness(60%);
    }

    &::after {
      bottom: 9px;
    }
  }

  @media (max-width: $mobile-width) {
    &:hover {
      & .tours__img {
        filter: none;
      }

      &::after {
        bottom: 8px;
      }
    }
  }
}

.tours__link:hover::before {
  content: "смотреть подробнее";
  position: absolute;

  width: 255px;
  height: 77px;
  top: calc(50% - 37px);
  left: calc(50% - 126px);
  border: 1px solid rgba(255, 255, 255, 0.7);

  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 2px;
  color: $white;
  text-align: center;
  box-sizing: border-box;
  padding-top: 30px;
  z-index: 99;
}


.tours__link::after {
  position: absolute;
  left: calc(50% - 107px);
  bottom: 8px;
  width: 215px;
  height: 63px;
  background-color: $white;

  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  color: $black;
  letter-spacing: 1.1px;

  text-align: center;
  padding-top: 16px;

  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    height: 61px;
    bottom: 8px;
  }

  @media (max-width: $mobile-width) {
    height: 61px;
    bottom: 8px;
  }
}

.tours__link--greece::after {
  content: "Греция";
}

.tours__link--albania::after {
  content: "Албания";
}

.tours__link--macedonia::after {
  content: "Македония";
}

.tours__link--montenegro::after {
  content: "Черногория";
}

.tours__link--croatia::after {
  content: "Хорватия";
}
